<!-- home.html -->
<div class="container panel panel-default">
  <div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon3">
        <a href="#/">
          <img src="assets/img/profile-icon.png" alt="" style=" height:50px ; weight:50px">
        </a>
      </span>
      <input type="text" class="form-control" placeholder="What's on your brain? Brah.." aria-describedby="sizing-addon1">
    </div>
    <ul class="navbar-form navbar-right" style=" margin-top:2px ; margin-bottom:2px ; padding-right:20px">

      <button type="button" class="btn btn-default btn-sm">
        Clear
      </button>
      <button type="button" class="btn btn-success btn-sm">
        Publish
      </button>

    </ul>
  </div>
</div>
